<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://2id60.win.tue.nl/~20174528/onlybingo/bingoscript.js"></script>
    <link rel="stylesheet" type="text/css" href="http://2id60.win.tue.nl/~20174528/onlybingo/bingostylesheet.css">
    <title>onlybingo</title>
</head>
<body>
    <div class="banner" id="banner"><h1>ONLY BINGO</h1></div>

    <div class="bingokaart" id="bingokaart">
        <table id="bingotabel">
            <tr>
			    <td><div class="letter" id="01"><p>B</p></div></td>
                <td><div class="letter" id="02"><p>I</p></div></td>
                <td><div class="letter" id="03"><p>N</p></div></td>
                <td><div class="letter" id="04"><p>G</p></div></td>
                <td><div class="letter" id="05"><p>O</p></div></td>
            </tr>
            {% for array in board %}
                <tr>
                    {% for num in array %}
                       <td class="number unpressed">
                           {{ num }}
                       </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>