{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'css\bingostylesheet.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js\bingoscript.js' %}"></script>

    <title>onlybingo</title>

    <style type="text/css">
  			body {
			background-color: #b7d7e8 ;
			margin-top: 5px;}
    </style>
</head>
<body>
<div class="banner" id="banner"><a class="banner" href="{% url 'index' %}">ONLY BINGO</a></div>
{% block content %}
{% endblock %}
</body>
</html>