{% extends 'board/base.html' %}
{% load static %}
{% block content %}

<input id="seconds" class="hidden" value="{{ game.speed }}">
<input id="pk" class="hidden" value="{{ game.room_id }}">
<div class="bingokaart" id="bingokaart">
    <table id="bingotabel">
        <tr>
            <td><div class="letter" id="01"><p>B</p></div></td>
            <td><div class="letter" id="02"><p>I</p></div></td>
            <td><div class="letter" id="03"><p>N</p></div></td>
            <td><div class="letter" id="04"><p>G</p></div></td>
            <td><div class="letter" id="05"><p>O</p></div></td>
        </tr>
        {% for array in board %}
            <tr>
                {% for num in array %}
                   <td class="number unpressed">
                       {{ num }}
                   </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

        <button type="button" onclick="test()" id="bingo">Bingo!</button>

    <button id="ball" class="pickednumber">0</button>
    <br>

    <a href="{% url 'index' %}" style="font-size: 26px; color: #674d3c; text-decoration: none; padding-bottom: 30px;">Go back to menu</a>

    </div>

    <script src="{% static 'js/board.js' %}"></script>

    <script>
        function test() {
            window.location.href='check/'
        }
    </script>
{% endblock %}