{% extends 'board/base.html' %}
{% block content %}
<div class="bingokaart">
    <form action="{% url 'room' %}" method="post" style="padding-bottom: 30px;">
        {% csrf_token %}
        <p>Your name:</p>
        <input type="text" name="player_name" required="true">
        <p>Game name:</p>
        <input type="text" name="name" required="true">
        <p>Max Players:</p>
        <input type="number" min="1" max="15" name="players" value="5">
        <p>Seconds between balls:</p>
        <input type="number" min="3" max="60" name="speed" value="20">
        <br><br>
        <input type="submit" value="Create game">
    </form>
    <a href="{% url 'index' %}" style="font-size: 26px; color: #674d3c; text-decoration: none; padding-bottom: 30px;">Go back to menu</a>
</div>
{% endblock %}