{% extends 'board/base.html' %}
{% block content %}
<div class="bingokaart">
    <form action="http://www.hulstjes.nl/API/lobby/" method="post">
        {% csrf_token %}
        <p>Game name:</p>
        <input type="text" name="name" required="true">
        <p>Max Players:</p>
        <input type="number" min="1" max="15" name="players" value="5">
        <p>Seconds between balls:</p>
        <input type="number" min="3" max="60" name="speed" value="20">
        <br><br>
        <input type="submit" value="Create game">
    </form>
</div>
{% endblock %}