{% extends 'board/base.html' %}
{% block content %}
<div class="bingokaart">
    <form action="{% url 'room' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="bool" value="1">
        <p>Game name:</p>
        <input type="text" name="name" required="true">
        <p>Max Players:</p>
        <input type="number" min="0" name="players" value="5">
        <p>Seconds between balls:</p>
        <input type="number" min="0" name="speed" value="20">
        <br><br>
        <input type="submit" value="Create game">
    </form>
</div>
{% endblock %}