{% extends 'board/base.html' %}
{% block content %}
<!-- start of lobbylist part-->
<div class='lobbylist title'>
    <h1></h1>
    <br><br>
    {% csrf_token %}
    <table class="lobbylist">
        <tr><th class="th1">Name</th><th class="th2">Players</th><th class="th1">Ballspeed</th><th></th></tr>
        {% for room in rooms %}
            <tr>
                <td>{{ room.name }}</td>
                <td>{{ room.players }}</td>
                <td>{{ room.speed }}</td>
                <td><input type="submit" value="join" ></td>
            </tr>
            <input type="hidden" name="game" value="{{ room.room_id }}">
        {% endfor %}
    </table>
{% endblock %}