{% extends 'board/base.html' %}
{% block content %}
    <div class="highsco title">
		<h1>HIGH SCORES</h1>
		<br><br>
		<table class="highsco">
		<tr><th class="th1">Username</th><th class="th2">Score</th><th class="th1">Date</th></tr>
		<tr><td>Thijs</td><td>14</td><td>08/01/2018</td></tr>
		<tr><td>Mathijs</td><td>18</td><td>08/01/2018</td></tr>
		<tr><td>Test1</td><td>19</td><td>08/01/2018</td></tr>
		<tr><td>Test2</td><td>20</td><td>08/01/2018</td></tr>
		</table>
		<br><br>
	</div>
{% endblock %}