{% extends 'board/base.html' %}
{% block content %}
    <div class="landing">
        <br><br>
        <div class="landing button">
            <button type="button" class="lbutt" id="create">Create game</button>
        </div><br><div class="landing button">
        <a href="http://www.hulstjes.nl/board/lobby">
            <button type="button" class="lbutt" id="joinpage">Join game</button>
            </a>
        </div><br><div class="landing button">
            <button type="button" class="lbutt" id="highsco">High-scores</button>
        </div><br><div class="landing button">
            <button type="button" class="lbutt" id="settings">Settings</button>
        </div><br><div class="landing button" id="Create">
            <a href="C:\Users\Gebruiker\Documents\only bingo\shop.html"><button type="button" class="lbutt">Shop</button></a>
        </div>
    </div>
{% endblock %}