{% extends 'board/base.html' %}
{% block content %}
    <div class="landing">
        <br><br>
        <div class="landing button">
            <a href="{% url 'create' %}">
                <button type="button" class="lbutt" id="create">Create game</button>
            </a>
        </div>
        <br>
        <div class="landing button">
            <a href="{% url 'lobby' %}">
                <button type="button" class="lbutt" id="joinpage">Join game</button>
            </a>
        </div>
        <br>
        <div class="landing button">
            <a href="{% url 'highscores' %}">
                <button type="button" class="lbutt" id="joinpage">Highscores</button>
            </a>
        </div>
    </div>
{% endblock %}