{% extends 'board/base.html' %}
{% block content %}
<!-- start of lobbylist part-->
<div class='lobbylist title' style="padding-bottom: 60px">
    <h1 style="padding-top: 20px">LOBBYLIST</h1>
    <br><br>
    <table class="lobbylist">
        <tr><th class="th1">Name</th><th class="th2">Players</th><th class="th1">Ballspeed</th><th></th></tr>
        {% for room in rooms %}
            <tr>
                <td>{{ room.name }}</td>
                <td>{{ room.players }}</td>
                <td>{{ room.speed }}</td>
                <td><button onclick="requestName({{ room.room_id }})">join</button></td>
            </tr>
        {% endfor %}
    </table>
    <br><br>
    <p>Search for:</p>
    <form action="/lobby/" method="post">
        {% csrf_token %}
        <table class="lobbylist">
            <tr>
                <th class="th1">
                    Name
                </th>
                <th class="th2">
                    Number of players
                </th>
                <th class="th1">
                    Ballspeed
                </th>
            </tr>
            <tr>
                <td>
                    <input type='text' name="Nametxt">
                </td>
                <td>
                    <input type='number' min="0" name="Numberofplayerstxt">
                </td>
                <td>
                    <input type='number' min="0" name="Ballspeedtxt">
                </td>
            </tr>
        </table>
        <br>
        <input type="submit" value="filter">
    </form>
</div>
     <script>
     function requestName(id) {
         var name = prompt("Please enter a name");
         var url = '/room/' + id + '/' + name;
         window.location.href=url;
     }
    </script>
{% endblock %}