{% extends 'board/base.html' %}
{% block content %}
<!-- start of lobbylist part-->
<div class='lobbylist title'>
    <h1>LOBBYLIST</h1>
    <br><br>
    <table class="lobbylist">
        <tr><th class="th1">Name</th><th class="th2">Players</th><th class="th1">Ballspeed</th></tr>
        {% for room in rooms %}
        <tr>
            <td>{{ room.name }}</td>
            <td>{{ room.players }}</td>
            <td>{{ room.speed }}</td>
            <td><input type="submit" value="join" id="{{ room.room_id }}"></td>
        </tr>
        {% endfor %}
    </table>
    <br><br>
    <p>Search for:</p>
    <form action="/lobby/" method="post">
        {% csrf_token %}
        <input type="hidden" name="bool" value="1">
        <table class="lobbylist">
            <tr>
                <th class="th1">
                    <input type="radio" name="Name" >
                    Name
                </th>
                <th class="th2">
                    <input type="radio" name="Numberofplayers" >
                    Number of players
                </th>
                <th class="th1">
                    <input type="radio" name="Ballspeed" >
                    Ballspeed
                </th>
            </tr>
            <tr>
                <td>
                    <input type='text' name="Nametxt">
                </td>
                <td>
                    <input type='number' name="Numberofplayerstxt">
                </td>
                <td>
                    <input type='number' name="Ballspeedtxt">
                </td>
            </tr>
        </table>
        <br>
        <input type="submit" value="filter">
    </form>
        <br>
    <button type="button" id="backlobbylist" style="margin-bottom: 30px">Back to menu</button>

</div>
{% endblock %}