{% extends 'board/base.html' %}
{% block content %}
    <h1>Room name:{{ detail.name }}</h1>
    <h2>You are {{ player.name }}</h2>
    <input id="pk" type="text" class="hidden" value="{{ player.room_id }}">
    <input id="player" type="text" class="hidden" value="{{ player.player_id }}">

    {% if host %}
        <button id="startgame">start game</button>
        <script>$(document).ready(function() {
    var url = "http://www.hulstjes.nl/api/draw/" + $("#pk").val()+"/";

    $('#startgame').on('click',function() {
        $.get(url, function (data) {

        }).fail(function () {
            console.log(data)
            alert("Error creating room");
        }).done(function () {
            localStorage.setItem("host","true")
            window.location.replace("http://www.hulstjes.nl/" + $('#pk').val() + "/" + $('#player').val()+"/");
        });
    });

});
</script>
    {% endif %}
    <table class="lobbylist">
        <tr><th class="th1">Name</th><th class="th1">Host</th><th></th></tr>
        {% for player in players %}
            <tr>
                <td>{{ player.name }}</td>
                <td>{% if forloop.counter == 1 %}host{% else %}player{% endif %}</td>
            </tr>
        {% endfor %}
    </table>
    {% if not host %}
        <script>
            setInterval(function(){
            $.get("http://www.hulstjes.nl/api/drawn/" + $("#pk").val(),function(){

            }).fail(function(){
                console.log("game hasnt started yet")
            }).done(function(){
                window.clearInterval();
                localStorage.setItem("host","false")
                window.location.replace("http://www.hulstjes.nl/" + $('#pk').val() + "/" + $('#player').val());
            })
        },1000);
        </script>
    {% endif %}
{% endblock %}