{% extends 'board/base.html' %}
{% block content %}
    <h1>{{ detail.name }}</h1>
    <h2>You are {{ player.name }}</h2>

    {% if host %}
        <button>start game</button>
    {% endif %}
    <table class="lobbylist">
            <tr><th class="th1">Name</th><th class="th2"></th><th class="th1">Host</th><th></th></tr>
            {% for player in players %}
                <tr>
                    <td>{{ player.name }}</td>
                    <td>{% if host %}"host"{% else %}"player"{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}