{% extends 'board/base.html' %}
{% block content %}
    <h1>{{ detail.name }}</h1>
    <h2>You are {{ player.name }}</h2>
    <input id="pk" type="text" class="hidden" value="{{ player.room_id }}">
    <input id="player" type="text" class="hidden" value="{{ player.player_id }}">

    {% if host %}
        <button id="startgame">start game</button>
    {% endif %}
    <table class="lobbylist">
        <tr><th class="th1">Name</th><th class="th1">Host</th><th></th></tr>
        {% for player in players %}
            <tr>
                <td>{{ player.name }}</td>
                <td>{% if forloop.counter == 1 %}host{% else %}player{% endif %}</td>
            </tr>
        {% endfor %}
    </table>
    {% if not host %}
        <script>
            document.getElementsByTagName('body').onload = function() { gamestarted() };
        </script>
    {% endif %}
{% endblock %}